nav a {
  transition: all .2s ease-in-out;
  color: #000;
  text-decoration: none;
}

nav {
  top: 30px;
  position: fixed;
  padding: 2%;
  grid-area: main;
  background: #fff;
  opacity: 0;
  bottom: 0;
  left: -99999px;
  right: 99999px;
  transform: translateY( 1rem );
  transition: opacity .3s ease-in-out, transform .3s ease-in-out, left 0s .3s, right 0s .3s;
  z-index: -1;
}

.active {
  overflow: auto;
  grid-area: 2 / 1 / 4 / 3;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 9999;
  transform: translateY( 0 );
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

/* Make navigation scrollable */

nav ul {
  list-style-type: none;
  margin-left: 0px;
}

nav li {
  letter-spacing: -0.025em;
  line-height: 1.1;
  width: 100%;
}

nav li + li {
  margin-top: 20px;
}

nav ul a {
  border-bottom: .1rem solid transparent;
}

nav ul + ul a {
  color: rgba( 0, 0, 0, .35 );
}


/* Add grey underscore to navigation link  */

nav ul a:hover {
  text-decoration: none;
}

nav ul:first-child a:hover,
nav ul:first-child .current-menu-item > a { 
  border-bottom-color: #000; 
}

nav ul:last-child a:hover,
nav ul:last-child .current-menu-item > a { 
  border-bottom-color: rgba( 0, 0, 0, .35 );
}
