.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 
    [full-start] minmax(1em, 1fr) 
    [main-start] minmax(0, 40em) [main-end]
    minmax(1em, 1fr) [full-end];  
  -ms-grid-columns:
    minmax(1em, 1fr) 
    minmax(0, 40em)
    minmax(1em, 1fr);  
    
  grid-template-rows: 50px auto auto;

-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;

}

/* Position content */
.content {
  grid-column: main;
  -ms-grid-column: 2;

  grid-row: 2;
  -ms-grid-row: 2;

}

@media only screen and (max-width: 1200px) { 
  .container {
    grid-template-rows:
      50px auto auto auto;
  }

  .content {
    grid-column: main;
    -ms-grid-column: 2;

    grid-row: 3;
    -ms-grid-row: 3;

  }
}

@media only screen and (min-width: 1200px) { 
  .container  {
    grid-template-rows:
      50px auto auto;
  }

  .content {
    grid-column: main;
    -ms-grid-column: 2;

    grid-row: 2;
    -ms-grid-row: 2;

  }
}

.locked {
  overflow: hidden;
  position: fixed;
}
