* {
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 50px auto 100px;
  grid-template-areas: 
    "header header" 
    "sidebar main" 
}

.content {
  margin: 1%;
  grid-area: main;

  -ms-grid-column: 2;
  -ms-grid-column-span: 1;

  -ms-grid-row: 2;

  width:100vw;
  max-width: calc(100% - 400px);
}

@media only screen and (max-width: 768px) { 
  .container {
    grid-template-rows: 50px 300px auto 100px;
    grid-template-areas: 
      "header header" 
      "sidebar ." 
      "main main"
  }
  .content {
    max-width: 90%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;

    -ms-grid-row: 3;
  }

}

@media only screen and (min-width: 1200px) {
  .content {
    max-width: 900px;
  } 
}

.locked {
  overflow: hidden;
  position: fixed;
}
